/* Sign in screens styles */
.app-logo {
    width: 264px;
    height: 50px;
    margin-top: 150px;
  }
  
  .heading {
    margin-top: 40px;
    margin-bottom: 0px;
  
    font-weight: 500;
  }
  
  .description {
    margin-top: 20px;
  
    color: gray;
    font-size: 0.67em;
  }
  
  .phone-input-container {
    margin-top: 40px;
  }
  
  .extra-info {
    width: 343px;
    height: 28px;
  
    margin: 0px;
    margin-top: 32px;
    padding: 0px 30px;
  
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #999999;
  }
  
  .submit-button {
    width: 224px;
    height: 36px;
  
    background: #f7b348;
    border-radius: 100px;
    border: none;
    margin-top: 90px;
  
    color: white;
  
    font-family: Work Sans;
    font-size: 0.67em;
  }
  
  @media screen and (max-width: 365px) {
    .phone-input-container {
      width: 300px !important;
    }
    .phone-input {
      width: 300px !important;
    }
  }